<p class="p-10 has-t-cen bkg-ali">search result</p><br>
<div class="box bkg-bei">
<% if(reg){%>
<% for (var i=0;i<reg.length;i++){%>

<div class="row">
<div class="col">
<img src="img/cd/jpg/<%= reg[i].sku%>.jpg"><br>

</div>

<div class="col">
<%=shop.tit%>:<%= reg[i].name%><br>
<%=shop.sku%>:TMS-<%= reg[i].sku%><br>
<%=shop.des%>:<br><%= reg[i].des%><br>
<form action="/item<%= reg[i].sku %>">
<input type="hidden" name="sku" value="<%= reg[i].sku %>" >
<button class="button" type="submit">submit</button>
</form>

</div>
</div>

<% } %><!-- for-->
<% }else{ %>
<div class="tag bkg-mis">
    <%= reg.length%>
    no reg</div>

<% } %>

</div>

